<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simplicity Widgets - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://cdn.transparensee.com/lib/bootstrap/2.1.1/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.transparensee.com/lib/bootstrap/2.1.1/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/{{site.jQueryUiRelease}}/themes/{{site.jQueryUiTheme}}/jquery-ui.css" rel="stylesheet">
    <link href="http://cdn.transparensee.com/simplicity/{{site.simplicityRelease}}/simplicity.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/documentation.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Simplicity Widgets</a>
          <ul class="nav">
            {% for nav in site.topnav %}
              {% if page.nav == nav.nav %}
                <li class="active"><a href="{{nav.url}}" class="active">{{nav.label}}</a></li>
              {% else %}
                <li><a href="{{nav.url}}">{{nav.label}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if page.subhead %}
      <header class="subhead">
        <div class="container">
          <h1>{{page.subhead}}</h1>
          {% if page.lead %}
            <p class="lead">{{page.lead}}</p>
          {% endif %}
        </div>
      </header>
    {% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/{{site.jQueryRelease}}/jquery.min.js"></script>
    <div class="container">
{{content}}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="pull-right">
            <a href="#" onclick="window.scrollTo(0,0);return false;">Back to top</a>
        </p>
        <p>
          Designed and built by the good folks at <a href="http://transparensee.com">Transparensee Systems</a>.
        </p>
      </div>
    </footer>
    <!--[if IE]>
      <script src="http://cdn.transparensee.com/lib/xdr/984c41/xdr.min.js"></script>
      <script src="http://cdn.transparensee.com/lib/json2/2010-11-17/json2.min.js"></script>
      <script src="http://cdn.transparensee.com/lib/jquery-plugin/bgiframe/2.1.2/jquery.bgiframe.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/{{site.jQueryUiRelease}}/jquery-ui.min.js"></script>
    <script src="http://cdn.transparensee.com/lib/jquery-plugin/touchpunch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="http://cdn.transparensee.com/lib/jquery-plugin/bbq/1.2.1/jquery.ba-bbq.min.js"></script>
    <script src="http://cdn.transparensee.com/lib/bootstrap/2.1.1/bootstrap.min.js"></script>
    <script src="http://cdn.transparensee.com/simplicity/{{site.simplicityRelease}}/simplicity.min.js"></script>
    <script src="/js/documentation.js"></script>{% if page.google_maps %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>{% endif %}
  </body>
</html>
